<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "doctor.jpg" %>
  </div>

  <div id="content">
    <h1>Algimantas Simuntis</h1>
    <br>
    The doctor specializes in endodontics, performs dental therapy, and aesthetic restoration.
    <br>
    <br>
    <h3>Education and carrier:</h3>
    <br>2002, graduated from Vilnius University Faculty of Medicine, Dentistry studies.
    <br>2002-2012, worked in Vilnius University Zalgiris hospital" as a general practice dentist.</br>
    Since 2002 has been working in private practice.
    <br>
    <br>
    <h3>Professional development:</h3>
    Constantly takes part in Lithuanian and international conferences and congresses for dentists and endodontists:
    <br>2005, 2007, 2008, 2009, 2010, 2011, International dental congress.
    <br>2012, Endobaltik.
    <br>2007, 2008, 2009, 2010, 2012, Updates of Periodontology.
    <br>2007, 2008, 2009, 2010, Acute conditions in the dental practice.
    <br>2007, 2008, 2009, 2010, Achievements of dental science for practice.
    <br>2011, Innovations in clinical dentistry.
    <br>2012, Interdisciplinary aspects of craniomandibular disorders.
    <br>
    <br>
    <h3>Licence No.:</h3>
    OPL - 02302
  </div>

</div>