<div id="page_wrapper">
  <div id="content">

    <%= form_with model: @patient, builder: @patient.appointments.build do |f| %>
        <%= f.text_area :comment %>
        <%= f.check_box :isUrgent %>
    <% end %>

    <%= render @patient.appointments %>
  </div></div>