<div id="page_wrapper">
  <div id="content">

    <%= form_for([@patient, @patient.appointments.build]) do |f| %>




        <%= f.text_area :comment %>
        <%= f.check_box :isUrgent %>
    <% end %>

    <%= render @patient.appointments %>
  </div></div>